/* -----------------------------------------
! DEBUG
-------------------------------------------*/
.db-border {
    border: 2px dashed #000;
}

.db-h-1x {
    min-height: 100px;
}

.db-h-2x {
    min-height: 500px;
}

[class^="container"] {
    background-color: lime;
    border: 2px dashed green;
}

.row {
    background-color: navajowhite;
    border: 2px dashed goldenrod;
}

[class^="col"] {
    background-color: cyan;
    border: 2px dashed blue;
}