/* -----------------------------------------
* VARIABLES
-------------------------------------------*/
:root {
    /* Palette */
    --col-lightgreen: #d5f9ba;
    --col-green: #009688;
    --col-cyan: #8edafc;
    --col-lightgray: #eaeaea;
    --col-gray: #b1b1b1;
    --col-darkgray: #6b7376;

    /* Layout */
    --ly-left: 300px;

    /* Misc */
    --sidebar-top: 150px;
    --conversation-header: 58px;
    --conversation-footer: 58px;
    --contact-card-height: 58px;
    --contact-img-height: 50px;
}


/* -----------------------------------------
* RESETS
-------------------------------------------*/



/* -----------------------------------------
* GENERICS
-------------------------------------------*/
body {
    height: 100vh;

    background-image: linear-gradient(180deg, var(--col-green) 80px, var(--col-lightgray) 80px);
}

ul {
    margin: 0;
    padding: 0;

    list-style: none;
}


/* -----------------------------------------
* LAYOUT
-------------------------------------------*/
.layout-main {
    height: 100%;

    display: flex;
}

.layout-left {
    flex: 0 0 var(--ly-left);
}

.layout-right {
    flex-grow: 1;
}


/* -----------------------------------------
? COMPONENTS
-------------------------------------------*/
/*** BUTTONS ***/
.btn {
    padding: 0.5rem;
}

.btn.btn-gray {
    color: var(--col-gray);
}

.btn.btn-gray:hover {
    color: var(--col-darkgray);
}


/*** CONTACT CARD ***/
.contact-card {
    height: var(--contact-card-height);
    padding: 0.5rem 1rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--col-lightgray);
}

.contact-card-left {
    display: flex;
    align-items: center;
}

.contact-card-right {
    display: flex;
}

.contact-img {
    height: var(--contact-img-height);
    width: auto;

    border-radius: 50%;
}


/*** SIDEBAR ***/
.sidebar {
    background-color: #fff;
}

.sidebar-top {
    height: var(--sidebar-top);
}

.sidebar-bottom {
    height: calc(100% - var(--sidebar-top));

    overflow: auto;
}


/*** CONVERSATION ***/
.conversation-header {
    height: var(--conversation-header);

    /*TODO remove*/
    background-color: brown;
}

.conversation-footer {
    height: var(--conversation-footer);

    /*TODO remove*/
    background-color: chartreuse;
}

.conversation-messages {
    height: calc(100% - var(--conversation-header) - var(--conversation-footer));

    overflow: auto;

    /*TODO remove*/
    background-color: mediumslateblue;
}


/* -----------------------------------------
? RESPONSIVE
-------------------------------------------*/
